extends _layout

block main
	section.article-page.section
		.container
			.article-page__header
				a(href="#").article-page__link ← back to blog
				p.article-page__date 01 / 17 / 2024
				p.article-page__title No one rejects, dislikes, or avoids pleasure itself, because it is pleasure
			img.article-page__preview(src="assets/img/blog-img-01.jpg", alt="")
			p.article-page__text.body-text But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
			p.article-page__text.body-text Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?

	section.vacancies-banner.section
		.container
			p.h1.vacancies-banner__title 10+ <br> доступных <br> вакансий
			.vacancies-banner__col
				p.vacancies-banner__text Найди свою работу мечты
				button.button.button--accent.vacancies-banner__button Все вакансии
