extends _layout

block main
	section.hero.section
		.hero__bg
			<spline-viewer class="spline-viewer" url="https://prod.spline.design/wRCiZneuA4EEPlyk/scene.splinecode"></spline-viewer>
		.container
			h1.hero__title.h1 Блог о карьере в BOSON Group
			p.hero__text.body-text Узнавайте первыми о возможностях, которые открываются в нашей компании, и присоединяйтесь к команде, которая меняет будущее уже сегодня.

	section.blog-page.section
		.container.container--inner-page
			.blog-page__grid
				a(href="#").blog-item
					img.blog-item__preview(src="assets/img/blog-img-01.jpg", alt="")
					span.blog-item__title But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
					span.blog-item__date  01 / 17 / 2024
				a(href="#").blog-item
					img.blog-item__preview(src="assets/img/blog-img-02.jpg", alt="")
					span.blog-item__title But who has any right
					span.blog-item__date  01 / 17 / 2024
				a(href="#").blog-item
					img.blog-item__preview(src="assets/img/blog-img-01.jpg", alt="")
					span.blog-item__title But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
					span.blog-item__date  01 / 17 / 2024
				a(href="#").blog-item
					img.blog-item__preview(src="assets/img/blog-img-02.jpg", alt="")
					span.blog-item__title But who has any right
					span.blog-item__date  01 / 17 / 2024
				a(href="#").blog-item
					img.blog-item__preview(src="assets/img/blog-img-01.jpg", alt="")
					span.blog-item__title But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
					span.blog-item__date  01 / 17 / 2024
				a(href="#").blog-item
					img.blog-item__preview(src="assets/img/blog-img-02.jpg", alt="")
					span.blog-item__title But who has any right
					span.blog-item__date  01 / 17 / 2024
				a(href="#").blog-item
					img.blog-item__preview(src="assets/img/blog-img-01.jpg", alt="")
					span.blog-item__title But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
					span.blog-item__date  01 / 17 / 2024
				a(href="#").blog-item
					img.blog-item__preview(src="assets/img/blog-img-02.jpg", alt="")
					span.blog-item__title But who has any right
					span.blog-item__date  01 / 17 / 2024
				a(href="#").blog-item
					img.blog-item__preview(src="assets/img/blog-img-01.jpg", alt="")
					span.blog-item__title But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
					span.blog-item__date  01 / 17 / 2024
				a(href="#").blog-item
					img.blog-item__preview(src="assets/img/blog-img-02.jpg", alt="")
					span.blog-item__title But who has any right
					span.blog-item__date  01 / 17 / 2024
				a(href="#").blog-item
					img.blog-item__preview(src="assets/img/blog-img-01.jpg", alt="")
					span.blog-item__title But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
					span.blog-item__date  01 / 17 / 2024
				a(href="#").blog-item
					img.blog-item__preview(src="assets/img/blog-img-02.jpg", alt="")
					span.blog-item__title But who has any right
					span.blog-item__date  01 / 17 / 2024
				a(href="#").blog-item
					img.blog-item__preview(src="assets/img/blog-img-01.jpg", alt="")
					span.blog-item__title But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
					span.blog-item__date  01 / 17 / 2024
				a(href="#").blog-item
					img.blog-item__preview(src="assets/img/blog-img-02.jpg", alt="")
					span.blog-item__title But who has any right
					span.blog-item__date  01 / 17 / 2024

	section.vacancies-banner.section
		.container
			p.h1.vacancies-banner__title 10+ <br> доступных <br> вакансий
			.vacancies-banner__col
				p.vacancies-banner__text Найди свою работу мечты
				button.button.button--accent.vacancies-banner__button Все вакансии
