extends _layout

block main
	section.hero.section
		.hero__bg
			<spline-viewer class="spline-viewer" url="https://prod.spline.design/6V46uIQB2lBcza1a/scene.splinecode"></spline-viewer>
		.container
			h1.hero__title.h1 Вакансии
			p.hero__text.body-text Мы постоянно находимся в поиске талантливых и амбициозных профессионалов, готовых присоединиться к нашей команде.

	section.breadcrumbs.section
		.container
			a.breadcrumb.accent-color(href="#") Главная
			<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M5.24998 5L3.33331 3.08333L3.91665 2.5L6.41665 5L3.91665 7.5L3.33331 6.91667L5.24998 5Z" fill="#1C1B1F"/>
			</svg>
			a.breadcrumb(href="#") Вакансии

	section.vacancies-page.section
		.container
			h2.h2.section__title.vacancies__title актуальные Вакансии
			input.input.vacancies__input(type="text" placeholder="Search")
			.vacancies__filters
				button.vacancies-filter.vacancies-filter--active(data-count="10" data-vacancy-filter="all") All
				button.vacancies-filter(data-count="6" data-vacancy-filter="development") Development
				button.vacancies-filter(data-count="1" data-vacancy-filter="design") Design
				button.vacancies-filter(data-count="1" data-vacancy-filter="writer") Writer
				button.vacancies-filter(data-count="1" data-vacancy-filter="admin") Admin
				button.vacancies-filter(data-count="1" data-vacancy-filter="sales") Sales
			.vacancies__column
				.vacancy(data-vacancy-type="development")
					.vacancy__column
						p.vacancy__title Programmer
						.vacancy__row
							p.vacancy__text SAN JOSE, CALIFORNIA
							p.vacancy__text $ 33 000 / per year
					a(href="#").vacancy__link more
				.vacancy(data-vacancy-type="development")
					.vacancy__column
						p.vacancy__title Programmer
						.vacancy__row
							p.vacancy__text SAN JOSE, CALIFORNIA
							p.vacancy__text $ 33 000 / per year
					a(href="#").vacancy__link more
				.vacancy(data-vacancy-type="development")
					.vacancy__column
						p.vacancy__title Programmer
						.vacancy__row
							p.vacancy__text SAN JOSE, CALIFORNIA
							p.vacancy__text $ 33 000 / per year
					a(href="#").vacancy__link more
				.vacancy(data-vacancy-type="development")
					.vacancy__column
						p.vacancy__title Programmer
						.vacancy__row
							p.vacancy__text SAN JOSE, CALIFORNIA
							p.vacancy__text $ 33 000 / per year
					a(href="#").vacancy__link more
				.vacancy(data-vacancy-type="development")
					.vacancy__column
						p.vacancy__title Programmer
						.vacancy__row
							p.vacancy__text SAN JOSE, CALIFORNIA
							p.vacancy__text $ 33 000 / per year
					a(href="#").vacancy__link more
				.vacancy(data-vacancy-type="development")
					.vacancy__column
						p.vacancy__title Programmer
						.vacancy__row
							p.vacancy__text SAN JOSE, CALIFORNIA
							p.vacancy__text $ 33 000 / per year
					a(href="#").vacancy__link more
				.vacancy(data-vacancy-type="design")
					.vacancy__column
						p.vacancy__title Programmer
						.vacancy__row
							p.vacancy__text SAN JOSE, CALIFORNIA
							p.vacancy__text $ 33 000 / per year
					a(href="#").vacancy__link more
				.vacancy(data-vacancy-type="writer")
					.vacancy__column
						p.vacancy__title Programmer
						.vacancy__row
							p.vacancy__text SAN JOSE, CALIFORNIA
							p.vacancy__text $ 33 000 / per year
					a(href="#").vacancy__link more
				.vacancy(data-vacancy-type="admin")
					.vacancy__column
						p.vacancy__title Programmer
						.vacancy__row
							p.vacancy__text SAN JOSE, CALIFORNIA
							p.vacancy__text $ 33 000 / per year
					a(href="#").vacancy__link more
				.vacancy(data-vacancy-type="sales")
					.vacancy__column
						p.vacancy__title Programmer
						.vacancy__row
							p.vacancy__text SAN JOSE, CALIFORNIA
							p.vacancy__text $ 33 000 / per year
					a(href="#").vacancy__link more
