extends _layout

block main
	section.hero.section
		.hero__bg
			<spline-viewer class="spline-viewer" url="https://prod.spline.design/wRCiZneuA4EEPlyk/scene.splinecode"></spline-viewer>
		.container
			h1.hero__title.h1 Programmer
			p.hero__text.body-text В BOSON Group вы получите широкие возможности для применения и совершенствования своих навыков и компетенций.
			.hero__row
				a.button(href="#") Откликнуться
				a.button(href="#") Пройти видео-интервью
	section.breadcrumbs.section
		.container
			a.breadcrumb.accent-color(href="#") Главная
			<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M5.24998 5L3.33331 3.08333L3.91665 2.5L6.41665 5L3.91665 7.5L3.33331 6.91667L5.24998 5Z" fill="#1C1B1F"/>
			</svg>
			a.breadcrumb.accent-color(href="#") Вакансии
			<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M5.24998 5L3.33331 3.08333L3.91665 2.5L6.41665 5L3.91665 7.5L3.33331 6.91667L5.24998 5Z" fill="#1C1B1F"/>
			</svg>
			a.breadcrumb(href="#") Programmer

	section.vacancy-page.section
		.container
			p.vacancy-page__title Programmer
			.vacancy-page__info
				p.vacancy-page__info-text SAN JOSE, CALIFORNIA
				p.vacancy-page__info-text $ 33 000 / per year
			p.vacancy-page__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
			p.vacancy-page__title Requirements
			ul.vacancy-page__list
				li.vacancy-page__list-item We study your business and product very carefully
				li.vacancy-page__list-item We study your business and product very carefully
				li.vacancy-page__list-item We study your business and product very carefully
				li.vacancy-page__list-item We study your business and product very carefully
				li.vacancy-page__list-item We study your business and product very carefully
				li.vacancy-page__list-item We study your business and product very carefully
			p.vacancy-page__title Requirements
			ul.vacancy-page__list
				li.vacancy-page__list-item We study your business and product very carefully
				li.vacancy-page__list-item We study your business and product very carefully
				li.vacancy-page__list-item We study your business and product very carefully
				li.vacancy-page__list-item We study your business and product very carefully
				li.vacancy-page__list-item We study your business and product very carefully
				li.vacancy-page__list-item We study your business and product very carefully

	section.vacancy-banner.section
		.container
			p.h1.vacancy-banner__title Откликнуться на вакансию
			p.vacancy-banner__text Начните работу своей мечты в компании Boson
			.vacancy-banner__row
				button.button.button--accent.vacancy-banner__button откликнуться
				button.button.button--accent.vacancy-banner__button Пройти видео-интервью
